[submodule "nodeodm/external/NodeODM"]
	path = nodeodm/external/NodeODM
	url = https://github.com/AutoModality/NodeODM
[submodule "locale"]
	path = locale
	url = https://github.com/OpenDroneMap/WebODM-Locale
	branch = main
